.episode-page-header-back {
    color: var(--color-grey6);
}

.dark .episode-page-header-back {
    color: var(--color-grey1);
}

.episode-page-header-back:hover {
    color: var(--color-brand-dpr-orange);
}

.episode-page-header-back-arrow {
    transform: translateY(2.5px);
    display: inline-block;
    transition: transform 0.2s ease;
}

.episode-page-header-back:hover .episode-page-header-back-arrow {
    transform: translateY(2.5px) translateX(-2px);
}

