.admin-action-button {
  color: var(--color-grey6);
  border: 1px solid var(--color-grey6);
}

.admin-action-button:hover {
  background-color: var(--color-grey6);
  color: var(--color-grey1);
}

.dark .admin-action-button {
  color: var(--color-grey1);
  border: 1px solid var(--color-grey1);
}

.dark .admin-action-button:hover {
  background-color: var(--color-grey1);
  color: var(--color-grey6);
}

.star-icon {
    top: -1px;
    position: relative;
}

.admin-action-button.highlighted {
  background-color: var(--color-brand-dpr-orange);
  color: var(--color-grey1);
}

