header {
    background-color: var(--color-grey1);
    color: var(--color-grey6);
}

.dark header {
    background-color: var(--color-grey6);
    color: var(--color-grey1);
}

header {
    transition: background 0.2s ease, color 0.2s ease;
}